*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    
}

body{
    font-family: 'Poppins', sans-serif;
    
}

.background{
    color: black;
}

.container{
    width: 100vh;
    height: 100vw;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display{
    margin: 0 10px;
    height: 150px;
    width: auto;
    max-width: 270px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
}