*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    transition: all 0.5s ease;
    
}

body {
    font-family: 'Poppins', sans-serif;
    word-break: keep-all;
    
}

.background {
    color: black;
}

.container {
    width: 100vh;
    height: 100vw;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.calculator {
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator {
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;
}

#display {
    margin: 10px;
    height: 90px;
    width: auto;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    border: 2px;
    border-radius: 8px;
    background-color: #000;
    color: red;

}

#display::-webkit-scrollbar {
    display: block;
    height: 3px;
}

button {
height: 60px;
width: 60px;
border: 0;
border-radius: 2px;
margin: 5px;
font-size: 20px;
cursor: pointer;
transition: all 200ms ease;

}

#zero {
    width: 90px;
    grid-column: span 2;
}

#equals {
    color: #e2822e;
    width:90px;
    grid-column: span 2;
}

#CHAINCONST {
    word-wrap: break-word;
    color: #3a4452;
}

h1 {
    color: beige;
    text-align: end;
}

